body{
	background-color: white;
}


#advice{
    width: 97%;
    background-color: grey;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    font-size: 25px;
}

#googlelink{
	text-decoration: none;
}

#googleimage{
    width: 50px;
    height: 50px;
}

.navigation{
    	background-color: black;
    	position: relative;
}

.navigation a{
        float: left;
    	display: block;
    	color: lightgrey;
    	text-align: center;
    	padding: 0px;
    	text-decoration: none;
    	background-color: black;
    	width: 14.28%;
 }

.navigation a:hover{
    	background-color: black;
    	color: white;
}

.nav{
	font-family: Times New Roman;
    font-size: 17px;
}

.nav1{
    color: black;
    height: 22px;
}

.A{
    float: right;
}

#headline{
    font-size: 40px;
}

#homepage1img{
    float: left;
    width: 100%;
    margin-left: 3px;
}

.homepage1{
    width: 350px;
    height: 350px;
    margin: 3px;
    margin-bottom: 40px;
}

#headlinemid{
	font-size: 30px;
}

#headlinesmall{
	color: grey;
}

.column{
    float: left;
   	width: 350px;
   	padding: 10px;
   	height: 350px;
   	transition: transform 0.5s;  
   	background-size: 400px,400px;  
   	margin: 3px;
   	margin-bottom: 80px;
}    

.row:after{
    content: "";    
    display: table;
    clear: both;
}

.column:hover{
    transform: scale(1.5);
}

#homepage3img{
    float: left;
    width: 100%;
    margin-left: 3px;
}

.homepage3{
    width: 500px;
    height: 350px;
    margin: 3px;
    margin-bottom: 40px;
}

.column4{
    float: left;
   	width: 420px;
   	padding: 10px;
   	height: 310px;
   	transition: transform 0.5s;  
   	background-size: 450px,450px;  
   	margin: 3px;
   	margin-bottom: 80px;
}    

.row{
  margin-left: 18%;
}

.row2{
  margin-left: 20%;
}

.row2:after{
    content: "";    
    display: table;
    clear: both;
}
.column4:hover{
    transform: scale(1.5);
}

#logoimage{
    width: 100px;
    height: 100px;
}

#contact, tr, td, th{
	border: 1px solid transparent;
	font-family: Times New Roman;
	font-size: 28px;
}

.logoname{
	text-align: right;
}

.blanktable{
	color: transparent;
}

#logoclick{
	color: grey;
}

.blank{
  color: transparent;
}

#Preface{
  font-size: 30px;
  color: #b8bdc1;
}

#sportpreface{
  height: 240px;
  width: 800px;
  background-color: #454c54;
  padding: 30px;
  border-radius: 20px 20px 20px 20px;
  border-image: url(p2.jpg) 30 round;
  color: white;
  font-size: 25px;
}

.title{
  font-size: 45px;
  color: #b8bdc1;
}

#sports{
  background-image: url(bgi4.jpg);
  background-size: 2000px 1000px;
}

.sportbike{
  font-size: 25px;
  font-style:bold;
  color: rgb(202 142 136);
  
}

#sportsbottom{
  color: white;
}

#wheelb{
  margin-left: 5%;
  margin-right:15%;
}

#prefaceb{
  margin-left: 20%;
}

#academic{
  background-image: url(bgacademic.jpg);
  background-size: 100% 1000px;
}

#result1{
  color: white;
}

.Youmans-class4{
  background-color: rgb(123 126 128);
  width: 550px;
  border: 10px line black;
  padding: 15px;
  font-size: 30px;
  font-family: Times new roman;
}

#hobbies{
  background-image: url(hobbies.jpg);
  background-size: 100% 1900px;
}

#Youmans-id1{
  font-family: Times new roman;
  font-size: 80px;
  color: rgb(229 229 227);
}

#hobbiespreface{
  height: 160px;
  width: 800px;
  background-color: #454c54;
  padding: 30px;
  border-radius: 20px 20px 20px 20px;
  color: white;
  font-size: 25px;
}

#waiting{
  font-size: 80px;
}

#experience{
	background-image: url(https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3632391266,2964176733&fm=26&gp=0.jpg);
}
#experiencetable{
	background-color: lightgrey;
		width: 800px;
		border: 10px double green;
		padding: -110px;
		line-height: 30px;
		font-family: Times New Roman;
		font-variant: normal;
		margin-top: 50px;
		margin-left: 20%;

}






































